## Intro to Jupyter

From the dropdown above, CODE or MARKDOWN can be chosen to work with

### order of execution of cells matters when using values of one cell in another

In [29]:
a = 10
print(a, end=" ")
print(19)
print(12)

10 19
12

In [20]:
# output is the last variable 
b = "anjali"
print(a)
a

10

10

In [26]:
# variables
a = 10
print(type(a))
a = 12.5
print(type(a))
b = 8 + 9j
print(type(b))

a = 2 + 3j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>

In [33]:
c = a +b
a = 12
b = 20
print(a)
print(b)
print(c)
print(a-b)
print(a*b)
print(a/b) # double answer
print(a//b) #floor answer
print( a**2) # a ki power 2
print(a%b)
a,b = 2,3
b

12
20
32
-8
240
0.6
0
144
12

3

In [44]:
# strings
st = "this is a string"
gtr = 'this is also a string'
print(st)

print(len(st))
print(type(st))
print(st[0])

# strings are immutable
# st[2] = 'c' INVALID
st = "monu meri moti" #valid
v = st + gtr
print(v)

# there exist no characters in python since there is no demarcation bw '' and ""
type('2')
# v = st + 2 STRING AND INT CANT BE ADDED, STR AND STR WHEN ADDED GET CONCATENATED

this is a string
16
<class 'str'>
t
monu meri motithis is also a string

str

In [50]:
# few functions on strings
a = "  Abc "
print(a.upper()) # doesn't change a itself
print(a.lower())
print(a.strip()) # removes all leading and tralining white spaces

a = a.strip()
print(a.isalpha()) #true if a contains only alphabets

  ABC
  abc
Abc
True

In [57]:
# user input
a = input() # input function takes string by default
print(a)
print(type(a))

a = int(input()) # taking integer as input
print(a)
print(type(a))

56
56
<class 'str'>
45
45
<class 'int'>
(1, 45, 67)

In [60]:
abc = 1,34,56 #valid
# a b c = 10 20 30 INVALID
A_B_C = 10,20,30
a,b,c = 10,20,30

In [6]:
# string indexing and slicing
s = "abcdefg"

# start is included, end is not
print(s[0])
print(s[-1])
print(s[:]) #full
print(s[-5:-1])
print(s[:5])
print(s[3:])
print(s[3:6])

a
g
abcdefg
cdef
abcde
defg
def

In [13]:
# tuple
t = (1,2,3)
t2 = (1, "anj", 4.56)
print(t2[2])
print(type(t2))

# tuples are immutable
# t[0] = 10 INVALID

# slicing works on tuples just like strings
t[0:2]

4.56
<class 'tuple'>

(1, 2)

In [17]:
# operations on tuples
t = (1,2)
k = ("d", 5)
print(t+k)
print(t*2)

# t * k INVALID
print(1 in t) # if t contains 1

(1, 2, 'd', 5)
(1, 2, 1, 2)

True

In [19]:
# while loop
n = int(input())
i =1
while(i<=n):
    print(i, end=" ")
    i = i+1

6
1 2 3 4 5 6

In [21]:
# for loop
n = int(input())
for i in range(1, n+1):
    print(i, end=" ")

7
1 2 3 4 5 6 7